body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

img {
    display: block;
    margin-top: 10px;
}

button {
    margin-right: 10px;
}
